input {
    width: 80%;
    padding: 1rem;
    background-color: rgb(241, 195, 155);
    border-radius: 5px;
}

button{
    padding: 1rem;
    background-color: orange;
    border-radius: 5px;
}

button:hover{
    background-color: lightsalmon;
}